<html>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""
  />
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
  <script
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""
  ></script>

  <head>
    <meta charset="utf-8" />
    <title>AutoConnect - Connection Server</title>

    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <main>
      <section>
        <div id="map">
          <img
            id="logoContainer"
            src="../public/AutoConnect-Logo.png"
            alt="AutoConnect Logo"
          />
        </div>
      </section>
    </main>
    <script
      type="text/javascript"
      src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/jquery.csv.js"></script>
    <script type="text/javascript" src="../public/js/MovingMarker.js"></script>
    <script
      type="text/javascript"
      src="../public/js/CarSimulator.js"
      tragectoryCSV="public/csv/onramp.csv"
      connnectionCSV="public/csv/onramp.csv"
    ></script>
    <script src="../public/js/leaflet-heat.js"></script>
    <script>
      var heat = L.heatLayer(
        [
          //[43.649845, -79.632245, 3.0],
          [43.649989, -79.63188, 3.0],
          [43.65007, -79.631708, 3.0],
          [43.650179, -79.63144, 3.0],
          [43.65033, -79.631193, 3.0],
          [43.65045, -79.630957, 3.0],
        ],
        { radius: 25 },
      ).addTo(map);
    </script>
  </body>
</html>
